tr[class="read"] {
  background-image: linear-gradient(lightgreen, lightblue);
}

tr[class="to-read"] {
  background-image: linear-gradient(rgb(255, 100, 255), rgb(100, 150, 200));
}

tr[class="in-progress"] {
  background-image: linear-gradient(orange, yellow);
}

span {
  display: inline-block;
}

tr[class="to-read"] span[class="status"] {
  border: 2px solid black;
  background-image: linear-gradient(rgb(255, 50, 0), rgb(255, 0, 0));
}

tr[class="read"] span[class="status"] {
  border: 2px solid black;
  background-image: linear-gradient(rgba(0, 255, 0, 1), rgb(0, 200, 0));
}

tr[class="in-progress"] span[class="status"] {
  border: 2px solid black;
  background-image: linear-gradient(rgb(200, 130, 0), rgb(200, 200, 0));
}

span[class^="rate"], span[class="status"] {
  height: 20px;
  width: 80px;
  padding: 2px;
  text-align: center;
}

span[class^="rate"] > span {
  border: 10px solid white;
  border-radius: 15px;
  margin: 2px;
  height: 1px;
  width: 2px;
  background-color: red;
}

span[class~="one"] :nth-child(1) {
  background-image: linear-gradient(rgb(255, 50, 0), rgb(255, 0, 0));
}

span[class~="two"] :nth-child(1), span[class~="two"] :nth-child(2) {
  background-image: linear-gradient(#991d4f);
}

span[class~="three"] > span {
  background-image: linear-gradient(to right,#991d4f);
}

tr{
  height: 90px;
  width: 100px;
}

tr:first-of-type {
  height: 0;
}

span[class="status"] {
  border-radius: 20px
}
