* {
  box-sizing: border-box;
  margin: 0;
}

#nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #71b4ff;
  z-index: 100;
}

a {
  text-decoration: none;
  color: #616161;
}

#nav-bar > a {
  margin-left: 15px;
}

header > p {
  position: fixed;
  top: 10px;
  left: 50px;
  z-index: 500;
  color: #616161;
}

img {
  position: relative;
  top: 100px;
  margin-left: 10px;
}

#header-img {
  position: fixed;
  top: 0;
  z-index: 1000;
}

section {
  position: relative;
  padding: 10px;
}

section > p {
  position: relative;
  left: 150px;
  top: 20px;
  width: 70%;
}

section > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

input:first-child {
  margin-bottom: 20px;
  width: 50%;
  padding: 5px;
}

#submit {
  padding: 10px;
  background-color: #71b4ff;
  border-radius: 20px;
}

#section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

iframe {
  margin-top: 20px;
}

#section3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 50px;
}

#q1, #q2, #q3 {
  border: 2px solid black;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding:10px;
  width: 250px;
}

button {
  background-color: #71b4ff;
  border-radius: 20px;
  padding: 10px;
  width: 50%;
}

.price {
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  #q1, #q2, #q3 {
  border: 1px solid black;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
  padding: 10px;
}

#section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
}