* {
box-sizing: border-box;
  margin: 0;
}

:root {
  --main: #0a2f61;
  --second: #b4b4b4;
  --third: crimson;
}

body {
  background: #01142b;
  color: black;
  font-family: 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: var(--third);
}

#navbar {
  display: flex;
  justify-content: flex-end;
  background: var(--main);
  padding: 20px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

#nav-link {
  color: var(--third);
  margin-left: 20px;
  text-decoration: none;
}

#nav-link:hover {
  color: white;
  transition: 0.3s;
}

#welcome-section {
  height: 40vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#project-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas:
    "title title"
    "project1 project2"
    "project3 project4"
    "button button";
    padding: 20px;
}

h3 {
  color: var(--third);
  grid-area: title;
  text-align: center;
}

p {
  margin-top: 10px;
}

.project-tile {
  border: 2px solid black;
  text-align: center;
  align-items: center;
  background-color: black;
}

img {
  width: 98%;
  height: 80%;
}

.button {
  grid-area: button;
  text-align: center;
  width: 150px;
  background-color: #b4b4b4;
  border-radius: 30px;
  padding: 10px;
  margin:auto;
}

#btn {
  color: black;
  font-weight: bold;
}

button:hover {
  background-color: var(--third);
  transition: 0.3s;
}

#contact {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  text-align: center;
  color: white;
}

.fa {
  margin-top: 10px;
  margin-left: 10px;
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.fa:hover {
  background-color: var(--third);
  color: black;
  transition: 0.3s;
}

footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 10px;
}