* {
    box-sizing: border-box;
    margin: 0;
}

#header {
    background-color: #c3c3c3;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

#navbar {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #000;
}

.nav-link-container {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    margin-left: 30px;
    color: black;
}

.Book-now {
    border: 1px solid black;
    padding: 15px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-top: 20px;
}

.Book-now:hover {
    color: black;
    background-color: white;
    scale: 1.1;
    transition: 1s;
}

#contact-me {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#contact-me:hover {
    scale: 1.1;
    color: black;
    border: 1px solid black;
    transition: 1s;
}


