* {
    box-sizing: border-box;
    margin: 0;
}

#header {
    background-image: url(https://cdn.pixabay.com/photo/2019/10/09/18/17/towels-4537954_1280.jpg);
    height: 60vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

#navbar {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #000;
}

.nav-link-container {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    margin-left: 30px;
    color: black;
}

.Book-now {
    border: 1px solid black;
    padding: 15px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-top: 20px;
}

.Book-now:hover {
    color: black;
    background-color: white;
    scale: 1.1;
    transition: 1s;
    cursor: pointer;
}

#contact-me {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#contact-me:hover {
    scale: 1.1;
    color: black;
    border: 1px solid black;
    transition: 1s;
    cursor: pointer;
}



#services {
    margin-top: 60px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-template-areas: 
        "heading heading"
        "service1 image1"
        "image2 service2"
        "service3 image3";
}

#services h1 {
    grid-area: heading;
    text-align: center;
}

.service-image {
    width: 100%;
    max-width: 400px;
    height: 250px;
    border-radius: 5px;
}

p.service-description {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.carpet-cleaning {
    grid-area: service1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.enquire {
    width: 80px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    background-color: black;
    color: white;
}

.enquire:hover {
    scale: 1.1;
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 1s;
    cursor: pointer;
}

.upholstery-cleaning {
    grid-area: service2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.laundry-cleaning {
    grid-area: service3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

#cleaning-packages-heading {
    height: 60vh;
    background-color: #04dada;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cleaning-packages-heading h2 {
    margin-top: 20px;
    font-size: 28px;
}

.package-header {
    margin-top: 40px;
    font-size: 36px;
}

#Package-prices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.price {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.includes {
    font-size: 18px;
    margin-bottom: 15px;
    color:#333;
}

.book-now-package {
    width: 120px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    background-color: black;
    color: white;
}

.book-now-package:hover {
    scale: 1.1;
    color: black;
    background-color: #0080ff;
    border: 1px solid black;
    transition: 1s;
    cursor: pointer;
}

ul {
    text-align: left;
    margin-bottom: 15px;
    list-style-type: none;
}

.cleaning-package {
    border: 1px solid black;
    border-radius: 10px;
    height: 45vh;
    margin: 20px;
    width: 250px;
    max-width: 300px;
    padding-top: 20px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    bottom: 170px;
    background-color: white;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: white;
}

.fa:hover {
    opacity: 0.7;
    scale: 1.1;
}

.fa-facebook {
    background: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
}

.fa-instagram {
    background: #125688;
}

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 200px;
}