* {
    box-sizing: border-box;
    margin: 0;
}

#header {
    background-image: url(https://cdn.pixabay.com/photo/2019/10/09/18/17/towels-4537954_1280.jpg);
    height: 60vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

#navbar {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #000;
}

.hamburger-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
}

.hamburger-button .bar {
    display:block;
    width: 2rem;
    height: 0.25rem;
    background-color: black;
    border-radius: 10px;
}

.nav-link-container {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    margin-left: 30px;
    color: black;
}

.Book-now {
    border: 1px solid black;
    padding: 15px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-top: 20px;
}

.Book-now:hover {
    color: black;
    background-color: white;
    scale: 1.1;
    transition: 1s;
    cursor: pointer;
}

#contact-me {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#contact-me-about {
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    box-sizing: border-box;
}

#contact-me-about:hover {
    scale: 1.1;
    color: black;
    border: 1px solid black;
    background-color: white;
    transition: 1s;
    cursor: pointer;
}

#contact-me:hover {
    scale: 1.1;
    color: black;
    border: 1px solid black;
    transition: 1s;
    cursor: pointer;
}



#services {
    margin-top: 60px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-template-areas: 
        "heading heading"
        "service1 image1"
        "image2 service2"
        "service3 image3";
}

#services h1 {
    grid-area: heading;
    text-align: center;
}

.service-image {
    width: 100%;
    max-width: 600px;
    height: 250px;
    border-radius: 5px;
}

p.service-description {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #555;
}

.carpet-cleaning {
    grid-area: service1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.enquire {
    width: 80px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    background-color: black;
    color: white;
}

.enquire:hover {
    scale: 1.1;
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 1s;
    cursor: pointer;
}

.upholstery-cleaning {
    grid-area: service2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    width: 100%;
}

.laundry-cleaning {
    grid-area: service3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

@media only screen and (min-width: 1200px) {
    .carpet-cleaning, #services h1, .upholstery-cleaning, .laundry-cleaning {
        font-size: 40px;
        max-width: 90%;
    }

    p.service-description {
        font-size: 30px;
    }

    .service-image {
        height: 400px;
    }

    .enquire {
        width: 120px;
        padding: 15px;
        font-size: 20px;
    }

    #services {
        padding-left: 50px;
    }
}

#cleaning-packages-heading {
    height: 60vh;
    background-image: url(https://cdn.pixabay.com/photo/2023/09/28/15/59/clothes-pins-8281931_1280.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    filter: brightness(60%);
    color: white;
    text-align: center;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cleaning-packages-heading h2 {
    margin-top: 20px;
    font-size: 28px;
}

.package-header {
    margin-top: 40px;
    font-size: 36px;
}

#Package-prices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.price {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.includes {
    font-size: 18px;
    margin-bottom: 15px;
    color:#333;
}

.book-now-package {
    width: 120px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    background-color: black;
    color: white;
}

.book-now-package:hover {
    scale: 1.1;
    color: black;
    background-color: #0080ff;
    border: 1px solid black;
    transition: 1s;
    cursor: pointer;
}

ul.main-page {
    text-align: left;
    margin-bottom: 15px;
    list-style-type: none;
}

.cleaning-package {
    border: 1px solid black;
    border-radius: 10px;
    height: 45vh;
    margin: 20px;
    width: 250px;
    max-width: 300px;
    padding-top: 20px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    bottom: 170px;
    background-color: white;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: white;
}

.fa:hover {
    opacity: 0.7;
    scale: 1.1;
}

.fa-facebook {
    background: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
}

.fa-instagram {
    background: #125688;
}

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 200px;
}

#about-us-section {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100vh;
    padding: 20px;
    justify-content: space-around;
}

.about-us {
    font-size: 60px;
    margin-bottom: 20px;
}

#about-us-text {
    max-width: 700px;
    line-height: 1.6;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.about-image {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    height: 80vh;
    width: 35vw;
}

#about-us-image {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media only screen and (max-width: 992px) {
    .hamburger-button {
        display: flex;
        position: fixed;
        left: 20px;
    }

    #navbar {
        display: flex;
        justify-content: flex-end;
    }

    .nav-link-container {
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        margin-right: 0;
        transition: left 0.3s ease-in-out;
        z-index: 1000;
    }

    .nav-link-container.is-active {
        left: 0;
    }

    .nav-link {
        margin-left: 0;
        font-size: 20px;
        margin-bottom: 30px;
    }

    #about-us-section {
        flex-direction: column;
        height: auto; 
        padding: 50px 20px; 
    }

    #about-us-text {
        height: auto;
        order: 1;
    }

    #about-us-image {
        height: auto; 
        justify-content: center; 
        width: 100%;
        order: 1;
    }

    .about-image {
        width: 90%; 
        height: auto; 
        max-width: 450px;
    }

    #services {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "heading"
            "service1"
            "image1"
            "service2"
            "image2"
            "service3"
            "image3";
    }

    #Package-prices {
        flex-direction: column;
    }

    .cleaning-package {
        width: 60%;
    }

    #contact-us {
        width: 95%;
        margin-left: 0;
    }
}

#contact-us {
    margin-top: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left:5vw;
}

.first-last-name {
    display: flex;
    margin-bottom: 15px;
    gap: 20px;
}

#first-name, #last-name, #email-address, #message {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.submit-button {
    width: 90%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    background-color: black;
    color: white;
}

.submit-button:hover {
    scale: 1.1;
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 1s;
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    #about-us-text {
        font-size: 20px;
    }

    #contact-us {
        width: 50%;
    }
}